label.requerido:after, h6.requerido:after{
    content: " *";
    color: #e73d4a
}
.btn-accion-tabla {
    cursor: pointer;
    border: 0;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;    
}
.d-inline{
    display: inline;
}
.width70{
    width: 70px !important;
}
.pl-20{
    padding-left: 30px !important;
}
.pl-30{
    padding-left: 45px !important;
}
.pl-40{
    padding-left: 60px !important;
}
.eliminar-menu.alinear-derecha{
    float: right;
}
ol.dd-list div.dd3-content a.nesteable{
    color: #343A40;
}
a.nesteable i.fa.fa-fw{
    color: rgb(23, 137, 175);
    margin-left: 16px;
}

button.eliminar-form{
    padding: 4px 10px;    
}

button.eliminar-form:hover {
   box-shadow: 10px 10px 10px grey !important;
}

.table td {
    text-align: center;   
 }
